# Copyright (c) 2025 ZitaoTech
# SPDX-License-Identifier: MIT

config BOARD_DONGLE_MASTER
    bool

config BOARD_LF_SLAVER
    bool

config BOARD_LF_MASTER
    bool

config BOARD_RT_SLAVER
    bool

config BOARD_RT_MASTER
    bool
